<h2>Register</h2>
<form [formGroup]="registerForm" (ngSubmit)="register()">
    <div class="form-group">
        <label>Name</label>
        <input type="text" class="form-control" formControlName="name" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.name">
                <div class="alert alert-danger" *ngIf="registerForm.get('name').hasError(validation.type) && (registerForm.get('name').dirty || registerForm.get('name').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div>
   <!--  <div class="form-group">
        <label>Surname</label>
        <input type="text" class="form-control" formControlName="surname" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.surname">
                <div class="alert alert-danger" *ngIf="registerForm.get('surname').hasError(validation.type) && (registerForm.get('surname').dirty || registerForm.get('surname').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div> -->
    <div class="form-group">
        <label>Username</label>
        <input type="text" class="form-control" formControlName="username" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.username">
                <div class="alert alert-danger" *ngIf="registerForm.get('username').hasError(validation.type) && (registerForm.get('username').dirty || registerForm.get('username').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" formControlName="email" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.email">
                <div class="alert alert-danger" *ngIf="registerForm.get('email').hasError(validation.type) && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div>
   <!--  <div class="form-group">
        <label>Age</label>
        <input type="text" class="form-control" formControlName="age" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.age">
                <div class="alert alert-danger" *ngIf="registerForm.get('age').hasError(validation.type) && (registerForm.get('age').dirty || registerForm.get('age').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="form-group">
        <label>Description</label>
        <input type="text" class="form-control" formControlName="description" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.description">
                <div class="alert alert-danger" *ngIf="registerForm.get('description').hasError(validation.type) && (registerForm.get('description').dirty || registerForm.get('description').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="form-group">
        <label>Localization</label>
        <input type="text" class="form-control" formControlName="localization" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.localization">
                <div class="alert alert-danger" *ngIf="registerForm.get('localization').hasError(validation.type) && (registerForm.get('localization').dirty || registerForm.get('localization').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div> -->
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" formControlName="password" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.password">
                <div class="alert alert-danger" *ngIf="registerForm.get('password').hasError(validation.type) && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" class="form-control" formControlName="confirmPassword" />
        <div class="validation-errors">
            <ng-container *ngFor="let validation of validation_messages.confirmPassword">
                <div class="alert alert-danger" *ngIf="registerForm.get('confirmPassword').hasError(validation.type) && (registerForm.get('confirmPassword').dirty || registerForm.get('confirmPassword').touched)">
                    {{ validation.message }}
                </div>
            </ng-container>
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit" [disabled]="registerForm.invalid" [routerLink]="['/user/signin']" (click)="register()" >Register</button>
        <a [routerLink]="['/user/signin']" style="margin-left: 30px">Cancel</a>
    </div>

</form>