<h1>List of users </h1>
<head>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
</head>

<!-- The Modal -->
<div id="id01" class="modal">
    <span onclick="document.getElementById('id01').style.display='none'" 
  class="close" title="Close Modal">&times;</span>
        <body>
                <div class="container">
                <div class="row" ng-model= "form">
                <div class="col s5">
                        <div class="card">
                          <div class="card-content">
                            <form #userForm="ngForm" >
                              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] ="userService.selectedUser._id">
                                <div class="input-field col-s12">
                                  <input type="text" name="name" #name="ngModel" [(ngModel)]="userService.selectedUser.name" placeholder="Enter your Name">
                                </div>
                                <div class="input-field col-s12">
                                  <input type="text" name="username" #name="ngModel" [(ngModel)]="userService.selectedUser.username" placeholder="Enter your Username">
                                </div>
                                <div class="input-field col-s12">
                                  <input type="text" name="surname" #name="ngModel" [(ngModel)]="userService.selectedUser.surname" placeholder="Enter your Surname">
                                </div>
                                <div class="input-field col-s12">
                                  <input type="text" name="email" #name="ngModel" [(ngModel)]="userService.selectedUser.email" placeholder="Enter your Email">
                                </div>
                                <div class="input-field col-s12">
                                  <input type="date" name="age" #name="ngModel" [(ngModel)]="userService.selectedUser.age" placeholder="Enter your Age" ng-model="myDate" />
                                  <!-- <input type="date" ng-model="myDate" /> -->
                                  <span ng-bind="convertToDate(myDate) | date:'medium'"></span>
                                </div>
                                <div class="input-field col-s12">
                                  <input type="text" name="description" #name="ngModel" [(ngModel)]="userService.selectedUser.description" placeholder="Enter your Description">
                                </div>
                                <div class="input-field col-s12">
                                  <input type="text" name="localization" #name="ngModel" [(ngModel)]="userService.selectedUser.localization" placeholder="Enter your Localization">
                                </div>
                                <div class="input-field col-s12">
                                  <input type="text" name="password" #name="ngModel" [(ngModel)]="userService.selectedUser.password" placeholder="Enter your Password">
                                </div>
                               
                                <div class="card-action">
                                  <div class="input-field col-s12">
                                    <button class="btn right" (click)="updateUser(userForm)" onclick="document.getElementById('id01').style.display='none'">Save</button>
                                  </div>
                                </div>
                             
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>  
        </body>
        </div>
        <div class="col s5">
          <table class="stripped highlight black-text">
                  <thead>
                          <th>Name</th>
                          <th>Surname</th>
                          <th>Username</th>
                          <th>Age</th>
                          <th>Picture</th>
                          <th>Description</th>
                          <th>Email</th>
                          <th>Localization</th>
                      </thead>
              <tr *ngFor="let user of userService.user">
        
                  <td>{{user.name}}</td>
                  <td>{{user.surname}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.age}}</td>
                  <td>{{user.picture}}</td>
                  <td>{{user.description}}</td>
                  <td>{{user.email}}</td>
                  <td>{{user.localization}}</td>
                  <td>
                          <a (click)="editUser(user)" ng-hide = "form" onclick="document.getElementById('id01').style.display='block'">
                                  <i class="fas fa-pencil-alt"></i>
                          </a>
                          <a (click)="deleteUser(user._id, userForm)">
                                  <i class="fas fa-trash-alt"></i>
                          </a>
                        </td>
                    <td>
                        <button class="btn right" [routerLink]="['/listusers/info', user._id]">Info</button>
                              
                        </td>
        
              </tr>
        
        
          </table>
        
        </div>
        

        <script>
            // Get the modal
            var modal = document.getElementById('id01');
            
            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function(event) {
              if (event.target == modal) {
                modal.style.display = "none";
              }
            }
            </script>