<h1>List of users </h1>

<div class="col s7">
    <table>
        <thead>
            <!-- <th>Username</th>
            <th>Age</th> -->
            <!-- <th>Email</th> -->
        </thead>
        

        <body>
                <div class="col s7">
                        <table>
                
                            <tr *ngFor="let user of userService.user">
                
                                <td>{{user.name}}</td>
                                <td>{{user.surname}}</td>
                                <td>{{user.username}}</td>
                                <td>{{user.age}}</td>
                                <td>{{user.picture}}</td>
                                <td>{{user.description}}</td>
                                <!--<td>{{user.email}}</td>-->
                                <td>{{user.localitation}}</td>
                
                            </tr>
                
                
                        </table>
                
                    </div>
            
        </body>
    </table>

</div>